/2_Sem/1_Task/cmake-build-debug/
/2_Sem/2_Task/cmake-build-debug/
/2_Sem/3_Task/cmake-build-debug/
/2_Sem/4_Task/cmake-build-debug/
/2_Sem/5_Task/SFML/
/2_Sem/4_Task/SFML/
/2_Sem/5_Task/cmake-build-debug/